<div class="relative flex flex-wrap mb-2 rounded-md shadow-md"
            [ngClass]="{
        'bg-red-500': model.status === -1,
        'bg-green-500': model.status === 0,
        'bg-blue-500': model.status === 1}"
    >
    <img *ngIf="!!model.banner" class="absolute inset-0 object-cover w-full h-full rounded-md" [src]="model.banner" alt="">
    <div class="relative inset-0 w-full h-full p-2 text-white rounded-md" [ngClass]="{'bg-black bg-opacity-50 ':!!model.banner}">
        <div class="flex justify-between w-full">
            <span>
                <span [innerHTML]="model.name" class="mr-2 font-bold"></span>
                <span [innerHTML]="model.premiered" class="text-sm"></span>
            </span>
            <span class="px-1 my-auto text-xs" [ngClass]="{
                'bg-red-500': model.status === -1,
                'bg-green-500': model.status === 0,
                'bg-blue-500': model.status === 1}">
                <ng-container [ngSwitch]="model.status">
                    <span class="truncate" *ngSwitchCase="0">{{model.latestEpisodeDateFormatted}}</span>
                    <span *ngSwitchCase="1">TBA</span>
                    <span *ngSwitchDefault>Completed</span>
                </ng-container>
            </span>
        </div>
        <div class="flex justify-between w-full" [ngClass]="{'mb-2':model.expand}">
            <span *ngIf="model.status === 0" class="w-full" [innerHTML]="model.latestEpisodeName"></span>
            <ng-container *ngIf="model.status !== 0">
                <span class="w-9/12 truncate" [ngClass]="{'w-9/12':model.latestEpisodeDateFormatted.length > 3, 'w-11/12':model.latestEpisodeDateFormatted.length <= 3}" [innerHTML]="model.latestEpisodeName"></span>
                <span class="px-1 my-auto text-xs text-right" [innerHTML]="model.latestEpisodeDateFormatted"></span>
            </ng-container>
        </div>
        <div class="flex justify-center" *ngIf="!model.expand">
            <button class="focus:outline-none" (click)="model.expand = !model.expand">
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
            </button>
        </div>
        <ng-container *ngIf="model.expand">
            <div class="flex justify-between w-full gap-1 mb-2">
                <span class="flex justify-between w-10/12 px-1 my-auto text-sm truncate border border-white rounded cursor-pointer" (click)="goToShowDetails()">
                    <span class="truncate">{{model.nextEpisodeName || '**All Seen**'}}</span>
                    <button class="inline-flex justify-center my-auto text-white focus:outline-none" title="More">
                        <!--bottom arrow-->
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                </span>
                <button (click)="markAsSeen()" [class.invisible]="model.unseenEpisodes===0" class="inline-flex justify-center text-white focus:outline-none" title="Watched">
                    <!--Tick-->
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
            <div class="flex justify-between w-full text-sm">
                <div class="w-11/12">
                    <span class="my-auto mr-4" [innerHTML]="model.channel"></span>
                    <span class="my-auto mr-4" *ngIf="model.unseenEpisodes">Unseen: {{model.unseenEpisodes}}</span>
                    <span class="my-auto mr-4" *ngIf="model.status === 0">Next: {{model.latestEpisodeIn}}</span>
                </div>
            </div>
        </ng-container>
    </div>
</div>
