<div class="container">
    <div class="flex flex-col min-h-screen gap-2 bg-gray-100">
        <header class="fixed top-0 left-0 right-0 z-10 flex justify-between px-2 text-white bg-orange-500 h-11 standalone:pt-safe-top standalone:h-safe-top-1">
            <button class="mt-1 focus:outline-none" tvqBackButton [class.invisible]="isHome">
                <tvq-svg-icon icon="chevron-left"></tvq-svg-icon>
            </button>
            <h2 class="mt-1 text-2xl cursor-pointer focus:outline-none" [routerLink]="['/home']">TV Watchlist</h2>
            <button class="focus:outline-none" (click)="nav.openMenu()">
                <tvq-svg-icon icon="menu"></tvq-svg-icon>
            </button>
        </header>
        <tvq-navigation #nav [options]="naigationList"></tvq-navigation>
        <main *ngIf="isReady; else showLoader" [@routeSliderStatePlusMinus]="prepareRoute(outlet)"
            class="relative flex-1 mx-2 mt-12 mb-2 standalone:mt-safe-top-2 ">
            <router-outlet #outlet="outlet" (activate)="onActivate($event)" ></router-outlet>
        </main>
        <ng-template #showLoader>
            <img src="assets/ajax-loader.gif" alt="" class="fixed transform translate-x-1/2 translate-y-1/2 top-1/4 left-1/2">
        </ng-template>
        <tvq-toast [visible]="test"></tvq-toast>
    </div>
</div>
