<div class="container">
    <div class="flex flex-col min-h-screen gap-2 bg-gray-100">
        <header class="fixed top-0 left-0 right-0 z-10 flex justify-between px-2 text-white bg-orange-500 h-11 standalone:pt-safe-top standalone:h-safe-top-1">
            <button class="mt-1 focus:outline-none" tvqBackButton *ngIf="!isHome">
                <tvq-svg-icon icon="chevron-left"></tvq-svg-icon>
            </button>
            <button class="mt-1 focus:outline-none" *ngIf="isHome" (click)="reload()">
                <tvq-svg-icon icon="refresh"></tvq-svg-icon>
            </button>
            <h2 class="mt-1 text-2xl cursor-pointer focus:outline-none" [routerLink]="['/home']">TV Watchlist</h2>
            <button class="focus:outline-none" (click)="nav.openMenu()">
                <tvq-svg-icon icon="menu"></tvq-svg-icon>
            </button>
        </header>
        <tvq-loader-bar [visible]="showloaderBar" class="relative top-[calc(2.7rem+env(safe-area-inset-top))]"></tvq-loader-bar>
        <tvq-navigation #nav [options]="naigationList"></tvq-navigation>
        <main [@routeSliderStatePlusMinus]="prepareRoute(outlet)"
            class="relative flex-1 mx-2 mt-12 mb-2 standalone:mt-safe-top-2 ">
            <router-outlet #outlet="outlet" (activate)="onActivate($event)" ></router-outlet>
        </main>
        <tvq-toast></tvq-toast>
    </div>
    <tvq-loader-screen></tvq-loader-screen>
</div>
