<div *ngIf="!!showModel;else showElseTmpl">
    <div class="flex justify-between">
        <div>
            <span [innerHTML]="showModel.name" class="mr-2 text-2xl font-bold"></span>
            <span [innerHTML]="showModel.premiered | date:'MMM dd, y' || 'n/a'" class="text-sm"></span>
        </div>
        <button (click)="showDetails=!showDetails" class="ml-2 focus:outline-none">
            <!-- Info -->
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        </button>
    </div>
    <div *ngIf="showDetails" class="flex mb-2">
        <div class="relative flex-none w-4/12 mr-2">
            <img [src]="showModel.poster" alt="" class="relative inset-0 object-cover w-full" />
        </div>
        <ul class="flex flex-col w-8/12">
            <li *ngIf="!!showModel.status">
                <span class="mr-2 font-semibold text-gray-400 uppercase">status:</span>
                <span [innerHTML]="showModel.status"></span>
            </li>
            <li *ngIf="!!showModel.channel">
                <span class="mr-2 font-semibold text-gray-400 uppercase">channel:</span>
                <span [innerHTML]="showModel.channel"></span>
            </li>
            <li *ngIf="!!showModel.language">
                <span class="mr-2 font-semibold text-gray-400 uppercase">language:</span>
                <span [innerHTML]="showModel.language"></span>
            </li>
            <li *ngIf="!!showModel.genres">
                <span class="mr-2 font-semibold text-gray-400 uppercase">genres:</span>
                <span [innerHTML]="showModel.genres.join(', ')"></span>
            </li>
            <li *ngIf="!!showModel.runtime">
                <span class="mr-2 font-semibold text-gray-400 uppercase">runtime:</span>
                <span [innerHTML]="showModel.runtime + ' Mins'"></span>
            </li>
            <li *ngIf="!!showModel.contentRating">
                <span class="mr-2 font-semibold text-gray-400 uppercase">content rating:</span>
                <span [innerHTML]="showModel.contentRating"></span>
            </li>
            <li>
                <span class="mr-2 font-semibold text-gray-400 uppercase">Unseen:</span>
                <span>{{showModel.unseenCount}} / {{showModel.totalEpisodes}}</span>
            </li>
        </ul>
    </div>
    <div class="w-full mt-2 text-sm" *ngIf="showDetails && !!showModel.summary">
        <div class="block mb-1" [innerHTML]="showModel.summary"></div>
        <div class="flex justify-around mb-1">
            <button (click)="goToUrl()" class="inline-flex justify-center my-auto text-blue-500 focus:outline-none" title="External">
                <!--Link-->
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path
                        d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                    <path
                        d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                </svg>
            </button>
            <button (click)="menuRemove.openMenu()" class="inline-flex justify-center my-auto text-red-500 focus:outline-none" title="Trash">
                <!--Trash-->
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                </svg>
            </button>
        </div>
        <hr>
    </div>

    <div class="flex my-2">
        <div class="flex w-10/12">
            <select class="w-11/12 mr-2 rounded focus:outline-none" [(ngModel)]="selectedSeasonNum">
                <option [value]="seasonNum" *ngFor="let seasonNum of seasonNumList">Season {{seasonNum}}</option>
            </select>
            <button [class.text-gray-400]="seasonUnSeen[selectedSeasonNum]==0" class="inline-flex justify-center my-auto focus:outline-none" type="button" (click)="menuAllSeen.openMenu()">
                <!-- Tick -->
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <div class="flex justify-end w-2/12">
            <button class="inline-flex justify-center my-auto focus:outline-none" type="button" (click)="menu.openMenu()">
                <!-- More -->
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
                </svg>
            </button>
        </div>
    </div>
    <div class="flex flex-wrap mb-2 text-gray-800 ">
        <div class="w-full mb-2" *ngFor="let episodeId of episodeList[selectedSeasonNum]">
            <tvq-episode
            [episodeId]="episodeId"
            (seenToggled)="episodeToggled($event)"
            [latestEpisodeId]="latestEpisodeId" ></tvq-episode>
        </div>
        <div class="flex flex-col pt-4 mx-auto text-lg text-center text-gray-700" *ngIf="!episodeList[selectedSeasonNum].length">
            <svg class="w-12 h-12 mx-auto text-gray-500 stroke-current" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <!--circle-bang-->
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>No unseen episodes!</span>
        </div>
        <div class="w-full mt-4 text-center" *ngIf="seasonUnSeen[selectedSeasonNum] !== seasonTotal[selectedSeasonNum]">
            <span class="inline-block px-4 py-2 border border-gray-500 rounded-lg focus:outline-none" (click)="displayHidden()">
                {{hideSeen?'Show Hidden':'Hide Seen'}}
            </span>
        </div>
    </div>
</div>
<ng-template #showElseTmpl>
    <div class="flex flex-col pt-4 mx-auto text-lg text-center text-gray-700">
        <svg class="w-12 h-12 mx-auto text-gray-500 stroke-current" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <!--circle-bang-->
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>Show not found!</span>
    </div>
</ng-template>
<tvq-options-menu #menu (action)="onMenuSelect($event)" [default]="defaultMenuOption" [options]="menuOptions"></tvq-options-menu>
<tvq-options-menu #menuRemove (action)="removeShow()" [options]="['Yes']" header="This will delete the show with your watched history. Are you sure?"></tvq-options-menu>
<tvq-options-menu #menuAllSeen (action)="toggleSeasonSeen()" [options]="['Yes']" header="This will mark all episodes in selected season as seen. Are you sure?"></tvq-options-menu>
