<div *ngIf="!!model" class="flex">
    <div class="relative flex-none w-4/12 h-20 mr-2">
        <img tvqDefault [src]="model.image" alt="" class="absolute inset-0 object-cover w-full h-full border" />
    </div>
    <div class="w-8/12" [class.text-gray-400]="seenToggled">
        <div [innerHTML]="model.episodeName"></div>
        <div class="flex justify-start">
            <span class="inline-block px-1 my-auto mr-2 text-sm text-white"
            [class.bg-blue-500]="model.isUnaired && model.id != latestEpisodeId"
            [class.bg-green-500]="model.isUnaired && model.id == latestEpisodeId"
            [class.bg-red-500]="!model.isUnaired"
            [innerHTML]="model.dateFormatted"></span>
            <button class="inline-flex justify-center my-auto focus:outline-none" (click)="toggleSeen()">
                <!-- Tick -->
                <tvq-svg-icon icon="check-circle" size="6"></tvq-svg-icon>
            </button>
        </div>
        <div class="text-xs" >
            <span *ngIf="model.expand && model.summary" class="mr-4" [innerHTML]="model.summary"></span>
            <button class="inline-flex justify-center my-auto mr-4 focus:outline-none" *ngIf="!model.expand && !!model.summary" (click)="expand()">
                <!-- Expand -->
                <tvq-svg-icon icon="information-circle" size="6"></tvq-svg-icon>
            </button>
            <button (click)="goToUrl(model.url)" class="inline-flex justify-center my-auto focus:outline-none" title="External">
                <!--Link-->
                <tvq-svg-icon icon="external-link" size="6"></tvq-svg-icon>
            </button>
        </div>
    </div>

</div>
