<!-- This example requires Tailwind CSS v2.0+ -->
<div>
    <div *ngIf="visible" class="fixed inset-0 z-20 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <div *ngIf="visible" class="fixed inset-0 z-20" [@slideInUpOnEnter] [@slideOutDownOnLeave] [@fadeOutOnLeave]>
        <div class="absolute left-0 right-0 m-2 text-center bg-white rounded-lg bottom-16">
            <ul class="flex flex-col justify-center">
                <li *ngIf="!!header" class="py-2 text-sm font-semibold border-b">{{header}}</li>
                <li *ngFor="let option of options;let last = last" class="py-4"
                    (click)="clicked(option)"
                    [ngClass]="{'border-b':!last}">
                    <span class="inline-flex text-blue-500">
                        <svg *ngIf="default === (option || ' ')" class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        {{option}}
                    </span>
                </li>
            </ul>
        </div>
        <div (click)="closeMenu()"  class="absolute bottom-0 left-0 right-0 p-4 m-2 text-center text-red-500 bg-white rounded-lg">Cancel</div>
    </div>
  </div>
