<h1 class="mb-4 text-4xl">Show Details</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Voluptatibus illo quas voluptates quod doloribus animi odit quo qui, nam fugit enim veniam quae
    tempora accusamus tenetur! Quo omnis fugit harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptatibus illo quas voluptates quod doloribus animi odit quo qui, nam fugit enim veniam quae
        tempora accusamus tenetur! Quo omnis fugit harum.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus illo quas voluptates quod doloribus animi odit quo qui, nam fugit enim veniam quae
            tempora accusamus tenetur! Quo omnis fugit harum.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus illo quas voluptates quod doloribus animi odit quo qui, nam fugit enim veniam quae
                tempora accusamus tenetur! Quo omnis fugit harum.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatibus illo quas voluptates quod doloribus animi odit quo qui, nam fugit enim veniam quae
                    tempora accusamus tenetur! Quo omnis fugit harum.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatibus illo quas voluptates quod doloribus animi odit quo qui, nam fugit enim veniam quae
                        tempora accusamus tenetur! Quo omnis fugit harum.</p>
