<ul class="flex flex-col mb-4 -mx-1 bg-white">
  <li class="flex justify-between px-4 py-2 border-b">
    @if (!IsDropboxAuthenticated) {
      <span class="text-blue-500 cursor-pointer" (click)="dropboxLogin()">Dropbox Login</span>
    }
    @if (IsDropboxAuthenticated) {
      <span class="text-blue-500 cursor-pointer" (click)="dropboxLogout()">Dropbox Logout</span>
    }
    @if (!IsDropboxAuthenticated) {
      <a href="https://www.dropbox.com/referrals/AACBEHGVAR4t8l5ohrjPIEdwd_ul6edwJXI?src=global9" class="my-auto text-sm text-blue-500"
      target="_blank">Signup (referral link)</a>
    }
  </li>
  @if (IsDropboxAuthenticated) {
    <li class="flex justify-between px-4 py-2 border-b" (click)="menu4.openMenu()">
      <span class="text-blue-500 cursor-pointer">Load from cloud</span>
      <span class="my-auto text-xs text-gray-400">tv-watchlist-db-v6.txt</span>
    </li>
  }
  @if (IsDropboxAuthenticated) {
    <li class="flex justify-between px-4 py-2 border-b" (click)="dropboxSave()">
      <span class="text-blue-500 cursor-pointer">Save to cloud</span>
      <span class="my-auto text-xs text-gray-400">tv-watchlist-db-v6.txt</span>
    </li>
  }
</ul>

<tvq-options-menu #menu4 (action)="dropboxLoad()" [options]="['Yes']" header="This will replace all your Shows and settings, Are you sure?"></tvq-options-menu>
