<h4 class="text-lg text-gray-700">Settings</h4>
<ul class="flex flex-col mb-4 -mx-1 bg-white">
    <li class="flex justify-between px-4 py-2 border-b">
        <span class="my-auto text-sm">Hide Seen TBA/Complete Shows</span>
        <tvq-switch [(state)]="hideTba"></tvq-switch>
    </li>
    <li class="flex justify-between px-4 py-2 border-b">
        <span>Hide Seen Episodes</span>
        <tvq-switch [(state)]="hideSeen"></tvq-switch>
    </li>
    <li class="flex justify-between px-4 py-2 border-b">
        <span>Shows Order</span>
        <span class="my-auto text-sm text-gray-500" (click)="menu1.openMenu()">
            {{showsOrder}}
            <tvq-svg-icon icon="chevron-right" size="4" classes="inline-block"></tvq-svg-icon>
        </span>
    </li>
    <li class="flex justify-between px-4 py-2 border-b">
        <span>Default Episodes</span>
        <span class="my-auto text-sm text-gray-500" (click)="menu2.openMenu()">
            {{defaultEpisodes}}
            <tvq-svg-icon icon="chevron-right" size="4" classes="inline-block"></tvq-svg-icon>
        </span>
    </li>
</ul>

<ul class="flex flex-col -mx-1 bg-white">
    <li class="flex justify-between px-4 py-2 border-b">
        <input type="file" class="w-full" accept="application/JSON, .txt" (change)="handleFileInput($event)">
    </li>
</ul>
<tvq-options-menu #menu1 (action)="showsOrder=$event" [default]="showsOrder" [options]="['airdate','unseen','unseen_my_popular','name']"></tvq-options-menu>
<tvq-options-menu #menu2 (action)="defaultEpisodes=$event" [default]="defaultEpisodes" [options]="['bookmarked','latest']"></tvq-options-menu>
