<div class="flex flex-wrap mb-2 border rounded-md shadow-md"
            [ngClass]="{
        'bg-red-500': getShowStatus() === -1,
        'bg-green-500': getShowStatus() === 0,
        'bg-blue-500': getShowStatus() === 1}"
        style="background-image:url('{{show.image.banner[0]}}'); background-size: 490px 100%; background-repeat: no-repeat;"
    >
    <!-- <img class="object-cover w-full" [src]="show.image.banner[0]" alt=""> -->
    <div class="w-full p-2 text-white bg-black bg-opacity-25">
        <div class="flex justify-between w-full">
            <span>
                <span [innerHTML]="show.name" class="mr-2 font-bold"></span>
                <span [innerHTML]="getShowPremiered()" class="text-sm"></span>
            </span>
            <span class="my-auto text-xs truncate" *ngIf="show.next_episode"
                [innerHTML]="(show.next_episode.local_showtime | date:'(EEE h:mm a, MMM d, y)') || '(n/a)'"></span>
            <span class="my-auto text-xs" *ngIf="!show.next_episode">{{getShowStatus() === -1 ? '(Completed)':'(TBA)'}}</span>
        </div>
        <div class="flex justify-between w-full mb-2">
            <span class="w-full" *ngIf="show.next_episode" [innerHTML]="getEpisodeNextName(show.next_episode)"></span>
            <ng-container *ngIf="!show.next_episode">
                <span class="w-9/12 truncate" [innerHTML]="getEpisodeNextName(show.last_episode)"></span>
                <span class="w-3/12 my-auto text-xs text-right" [innerHTML]="(show.last_episode.local_showtime | date:'(MMM d, y)') || '(n/a)'" *ngIf="!show.next_episode"></span>
            </ng-container>
        </div>
        <div class="flex justify-between w-full gap-1 mb-2">
            <span class="w-10/12 px-1 my-auto truncate border border-white">
                Episode Placeholder
            </span>
            <button class="inline-flex justify-center w-1/12 text-white" title="Watched">
                <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd" />
                </svg>
            </button>
            <button class="inline-flex justify-center w-1/12 text-white" title="External">
                <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path
                        d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                    <path
                        d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                </svg>
            </button>
        </div>
        <ul class="inline-flex w-full gap-4 text-sm">
            <li class="my-auto" [innerHTML]="show.channel.name"></li>
            <li class="my-auto" *ngIf="show.unseen_count">Unseen: {{show.unseen_count}}</li>
            <li class="my-auto" *ngIf="!!getNextEpisodeDays() && getShowStatus() > -1">Next: {{getNextEpisodeDays()}}</li>
            <button class="inline-flex justify-center text-white" title="More" (click)="goToShowDetails(show)">
                <svg class="h-6 w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
                  </svg>
            </button>
        </ul>
    </div>

</div>
